/* common sheard styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.section-title{
    text-align:center;
    color:#181818;
    font-weight: 700;
    font-size: 35px;
}
/* header related styles */
.header{
    background-color: #FFF8F3;
}

/* nav related styles    */
.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 200px;
}

.my-name{
    font-size: 45px;
    margin-left: 20px;
    font-weight: 800;

}
.my-name > span{
    color:rgb(236, 45, 12);
}
.nav-data{
    display: flex;
    align-items: center;
   
}
.nav-data  li {
    margin-left: 50px;
    list-style: none;
    
}
.nav-data  li a{
    text-decoration: none;
    color:gray;
}
.btn-primary{
    background-color: orange;
    border:0;
    border-radius: 3px;
    font-weight:700;
    color:white;
    font-size: 20px;
    padding: 15px 35px;
    /* height: 30px;
    width:100px; */
    
}
/* banner picture */
.banner{
    display: flex;
    padding:30px 30px 0px 150px;
    align-items: center;
    background-image: url(../picture/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
}
.banner .my picture {
    width: 500px; 
}

.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color:#474747;
    margin-bottom: 0;
}
.banner-heading{
    font-size: 85px;
    font-style:italic ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 15px;
    color:rgb(206, 62, 62)
   
}
.banner-para{
    margin-top: 0px;
    margin-bottom:15px;
}
.banner-content{
    max-width:500px;
}
.a{
    margin-top: 10px;
}

/* main section styles */

/* about section styles  */
.about{
    padding:130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin:130px 0px;
}
.section-discription{
    color:#757575;
    text-align: center;
    font-size: 18px;
}
