/* common sheard styles */
body{
    font-family: 'Open Sans', sans-serif;
}
/* header related styles */
.header{
    background-color: #FFF8F3;
}


/* nav related styles    */
.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 200px;
}

.my-name{
    font-size: 45px;
    margin-left: 20px;
    font-weight: 800;

}
.my-name > span{
    color:rgb(236, 45, 12);
}
.nav-data{
    display: flex;
    align-items: center;
   
}
.nav-data  li {
    margin-left: 50px;
    list-style: none;
    
}
.nav-data  li a{
    text-decoration: none;
    color:gray;
}
.btn-primary{
    background-color: orange;
    border:0;
    border-radius: 3px;
    font-weight:700;
    color:white;
    font-size: 20px;
    padding: 15px 35px;
    /* height: 30px;
    width:100px; */
    
}
/* banner picture */
.banner{
    display: flex;
    padding:30px 30px 0px 150px;
    align-items: center;
    background-image: url(../picture/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-around;
}
.banner .my picture {
    width: 500px;
    
}

.banner-greeating{
    font-size: 45px;
    font-weight: 600;
    font-style: normal;
}
